<div class="alert alert-block alert-info"> <h2> Pandas </h2> </div>

In [1]:
import pandas as pd
import numpy as np

<div class="alert alert-block alert-info"> <h3> Pandas -- Read Data </h3> </div>

<font class="alert alert-block alert-info"> 檢查目前所在目錄 </font>

In [2]:
import os
os.getcwd()

'/Users/hsinyu/Desktop/Python資料分析/Code/ME'

<font class="alert alert-block alert-info"> 匯入資料 </font>

In [3]:
Aboard_new = pd.read_csv('/Users/hsinyu/Desktop/Python資料分析/Data/Aboard_new.csv')

<font class="alert alert-block alert-info"> 確認資料是否成功匯入 </font>

In [4]:
Aboard_new.head()

,Continent,Country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Key,2014,2015,2016
0,ASIA,香港 Hong Kong,2418872.0,1869069.0,2559705.0,2807027.0,2993317.0,3030971.0,2851170.0,2261001.0,2308633.0,2156760.0,2021212.0,2038732.0,香港,2018129,2008153,1902647
1,ASIA,大陸 Mainland China,1.0,44.0,0.0,0.0,0.0,0.0,188744.0,1516087.0,2424242.0,2846572.0,3139055.0,3072327.0,大陸,3267238,3403920,3685477
2,ASIA,日本 Japan,797460.0,731330.0,1051954.0,1180406.0,1214058.0,1280853.0,1309847.0,1113857.0,1377957.0,1136394.0,1560300.0,2346007.0,日本,2971846,3797879,4295240
3,ASIA,韓國 Korea,120208.0,179893.0,298325.0,368206.0,396705.0,457095.0,363122.0,388806.0,406290.0,423266.0,532729.0,518528.0,韓國,626694,500100,808420
4,ASIA,新加坡 Singapore,190455.0,125491.0,160088.0,184926.0,204834.0,189835.0,167479.0,137348.0,166126.0,207808.0,241893.0,297588.0,新加坡,283925,318516,319915

<font class="alert alert-block alert-info"> 檢查資料是否有遺失值 </font>

In [5]:
Aboard_new.isnull().sum()

Continent    0
Country      0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
Key          0
2014         0
2015         0
2016         0
dtype: int64

<div class="alert alert-block alert-danger"> <h3>Q1. 將 Aboard_new 中的 index 改成 Aboard_new中Key這個欄位的資料 </h3> </div>

<font class="alert alert-block alert-danger"> Answer </font>

<div class="alert alert-block alert-danger"> <h3>Q2. 將 Aboard_new 中Key 這個欄位刪除 </h3> </div>

<font class="alert alert-block alert-danger"> Answer </font>

<div class="alert alert-block alert-info"> <h3> Pandas -- Reshaping </h3> </div>

<font class="alert alert-block alert-warning"> 建立一個 Demo Data (Temperature_Year)</font>

In [8]:
Year = ['2014','2014','2014','2015','2015','2015','2016','2016','2016']
City = ['Taipei','Taichung','Kaohsiung','Taipei','Taichung','Kaohsiung','Taipei','Taichung','Kaohsiung']
Average = [24.48,23.81,25.57,24.07,23.97,24.33,24.19,25.77,25.92]
Max = [30.5,30.1,30.3,30.0,29.7,30.6,30.3,29.4,30.2]
Min = [16.5,16.4,19.5,16.7,17.1,17.3,15.5,16.4,19.3]
Temperature_Year_table = {"Year" : Year,
                          "City" : City,
                          "Average" : Average,
                          "Max" : Max,
                          "Min" : Min}
Temperature_Year = pd.DataFrame(Temperature_Year_table)
print(Temperature_Year.shape)
Temperature_Year

(9, 5)

   Average       City   Max   Min  Year
0    24.48     Taipei  30.5  16.5  2014
1    23.81   Taichung  30.1  16.4  2014
2    25.57  Kaohsiung  30.3  19.5  2014
3    24.07     Taipei  30.0  16.7  2015
4    23.97   Taichung  29.7  17.1  2015
5    24.33  Kaohsiung  30.6  17.3  2015
6    24.19     Taipei  30.3  15.5  2016
7    25.77   Taichung  29.4  16.4  2016
8    25.92  Kaohsiung  30.2  19.3  2016

<font class="alert alert-block alert-info"> 利用 pivot_table 呈現出不同城市年均溫的變化 </font>

<font class="alert alert-block alert-info"> 利用 pivot_table 呈現出想關心的資料(同時看多個資訊)</font>

<div class="alert alert-block alert-danger"> <h3>Q3. 利用 pivot_table 呈現出各年度在不同城市最大溫度的變化
 </h3> </div>

<font class="alert alert-block alert-danger"> Answer </font>

<font class="alert alert-block alert-warning"> 建立一個 Demo Data (Temperature_Season)</font>

In [12]:
Year = ['2014','2014','2014','2014','2015','2015','2015','2015',
        '2014','2014','2014','2014','2015','2015','2015','2015',
        '2014','2014','2014','2014','2015','2015','2015','2015']
Season = ['Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall',
          'Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall',
          'Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall']
City = ['Taipei','Taipei','Taipei','Taipei','Taipei','Taipei','Taipei','Taipei',
        'Taichung','Taichung','Taichung','Taichung','Taichung','Taichung','Taichung','Taichung',
        'Kaohsiung','Kaohsiung','Kaohsiung','Kaohsiung','Kaohsiung','Kaohsiung','Kaohsiung','Kaohsiung']
Average=[16.6,22.2,29.57,25.57,18.8,22.57,29.53,25.37,
         16.83,23.23,29.2,25.97,18.27,24.0,28.97,26.1,
         20.0,25.43,29.53,27.3,19.87,26.03,29.63,27.57]
Temperature_Season_table = {"Year" : Year,
                            "City" : City,
                            "Season" : Season,
                            "Average" : Average }
Temperature_Season = pd.DataFrame(Temperature_Season_table)
print(Temperature_Season.shape)
Temperature_Season

(24, 4)

    Average       City  Season  Year
0     16.60     Taipei  Winter  2014
1     22.20     Taipei  Spring  2014
2     29.57     Taipei  Summer  2014
3     25.57     Taipei    Fall  2014
4     18.80     Taipei  Winter  2015
5     22.57     Taipei  Spring  2015
6     29.53     Taipei  Summer  2015
7     25.37     Taipei    Fall  2015
8     16.83   Taichung  Winter  2014
9     23.23   Taichung  Spring  2014
10    29.20   Taichung  Summer  2014
11    25.97   Taichung    Fall  2014
12    18.27   Taichung  Winter  2015
13    24.00   Taichung  Spring  2015
14    28.97   Taichung  Summer  2015
15    26.10   Taichung    Fall  2015
16    20.00  Kaohsiung  Winter  2014
17    25.43  Kaohsiung  Spring  2014
18    29.53  Kaohsiung  Summer  2014
19    27.30  Kaohsiung    Fall  2014
20    19.87  Kaohsiung  Winter  2015
21    26.03  Kaohsiung  Spring  2015
22    29.63  Kaohsiung  Summer  2015
23    27.57  Kaohsiung    Fall  2015

<font class="alert alert-block alert-info"> 利用 pivot_table 呈現出不同城市季均溫的變化 </font>

<font class="alert alert-block alert-warning"> 建立一個 Demo Data (Temperature)</font>

In [14]:
Year = ['2014','2014','2014','2014','2014','2014','2014','2014','2014','2014','2014','2014',
        '2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015',
        '2016','2016','2016','2016','2016','2016','2016','2016','2016','2016','2016','2016']
Month = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC',
         'JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC',
         'JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
Season = ['Winter','Winter','Spring','Spring','Spring','Summer','Summer','Summer','Fall','Fall','Fall','Winter',
          'Winter','Winter','Spring','Spring','Spring','Summer','Summer','Summer','Fall','Fall','Fall','Winter',
          'Winter','Winter','Spring','Spring','Spring','Summer','Summer','Summer','Fall','Fall','Fall','Winter']
Taipei = [16.8,16.5,18.9,22.5,25.2,28.0,30.5,30.2,29.7,24.7,22.3,16.5,
          16.7,20.8,18.9,22.7,26.1,30.0,30.0,28.6,27.4,25.2,23.5,18.9,
          16.2,15.5,17.5,24.0,27.1,29.4,30.3,30.1,27.8,27.0,22.6,20.1]
Taichung = [16.4,17.0,19.8,24.1,25.8,28.6,30.1,28.9,29.2,25.6,23.1,17.1,
            17.1,18.1,20.7,24.4,26.9,29.7,29.2,28.0,27.8,26.2,24.3,19.6,
            16.8,16.4,18.3,24.9,27.6,28.8,29.4,28.9,27.9,27.5,23.4,20.4] 
Kaohsiung = [19.5,20.3,22.6,25.9,27.8,29.2,30.3,29.1,29.5,27.2,25.2,20.2,
             19.9,17.3,23.6,26.2,28.3,30.6,29.5,28.8,28.8,27.7,26.2,22.4,
             19.3,19.6,21.6,26.9,28.9,29.7,30.2,29.4,28.4,28.4,25.7,22.9]
Temperature_table = { "Year" : Year,
                      "Month" : Month,
                      "Season" : Season,
                      "Taipei" : Taipei,
                      "Taichung" : Taichung,
                      "Kaohsiung" : Kaohsiung }
Temperature = pd.DataFrame(Temperature_table)
print(Temperature.shape)
Temperature.head()

(36, 6)

   Kaohsiung Month  Season  Taichung  Taipei  Year
0       19.5   JAN  Winter      16.4    16.8  2014
1       20.3   FEB  Winter      17.0    16.5  2014
2       22.6   MAR  Spring      19.8    18.9  2014
3       25.9   APR  Spring      24.1    22.5  2014
4       27.8   MAY  Spring      25.8    25.2  2014

<div class="alert alert-block alert-danger"> <h3>Q4. 利用 pivot_table 呈現出台北市在各年度不同季節下的平均溫度狀況
 </h3> </div>

<font class="alert alert-block alert-danger"> Answer </font>

<div class="alert alert-block alert-info"> <h3> Pandas -- Group </h3> </div>

<font class="alert alert-block alert-info"> 利用 groupby 將 Temperature 依照年份分組 </font>

<font class="alert alert-block alert-info"> 針對各分組結果(Group_Year)取平均 </font>

<font class="alert alert-block alert-info"> 確認 Group_Year 的Type </font>

<font class="alert alert-block alert-info"> 利用 groupby 將 Temperature 中 Taipei 依照年份分組，並計算平均溫度 </font>

<font class="alert alert-block alert-info"> 利用 groupby 將 Temperature 依照年份及季節分組，並計算平均溫度 </font>

<div class="alert alert-block alert-info"> <h3> Pandas -- Binning </h3> </div>

<font class="alert alert-block alert-warning"> 建立一個 Demo Data (Temperature_Taipei)</font>

In [23]:
Month = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','JAN']
Taipei = [16.8,16.5,18.9,22.5,25.2,28.0,30.5,30.2,29.7,24.7,22.3,16.5,16.8]
Temperature_Taipei_table = { "Month" : Month,
                             "Taipei" : Taipei  }
Temperature_Taipei = pd.DataFrame(Temperature_Taipei_table)
print(Temperature_Taipei.shape)
Temperature_Taipei

(13, 2)

   Month  Taipei
0    JAN    16.8
1    FEB    16.5
2    MAR    18.9
3    APR    22.5
4    MAY    25.2
5    JUN    28.0
6    JUL    30.5
7    AUG    30.2
8    SEP    29.7
9    OCT    24.7
10   NOV    22.3
11   DEC    16.5
12   JAN    16.8

<font class="alert alert-block alert-info"> 利用 cut 切分資料 </font>
<font class="alert alert-block alert-info"> 28度以下:冷 ; 28度以上:熱</font>

<div class="alert alert-block alert-info"> <h3> Pandas -- Duplicate </h3> </div>

<font class="alert alert-block alert-info"> 利用 duplicated 確認資料中是否有重複值 </font>

<font class="alert alert-block alert-info"> 利用 drop_duplicated 去除資料重複值 </font>

<div class="alert alert-block alert-info"> <h2> Matplotlib </h2> </div>

In [29]:
import matplotlib.pyplot as plt

<font class="alert alert-block alert-info"> 讓圖畫在 Jupyter Notebook 中 </font>

<font class="alert alert-block alert-warning"> 使用 Temperature 資料 </font>

In [31]:
Temperature.head()

   Kaohsiung Month  Season  Taichung  Taipei  Year
0       19.5   JAN  Winter      16.4    16.8  2014
1       20.3   FEB  Winter      17.0    16.5  2014
2       22.6   MAR  Spring      19.8    18.9  2014
3       25.9   APR  Spring      24.1    22.5  2014
4       27.8   MAY  Spring      25.8    25.2  2014

<font class="alert alert-block alert-info"> Scatter Plot </font>
<font class="alert alert-block alert-info"> 想知道 台北市 及 台中市溫度的關係 </font>

<font class="alert alert-block alert-info"> Scatter Plot </font>
<font class="alert alert-block alert-info"> 想知道 台北市 及 台中市溫度的關係 </font>
<font class="alert alert-block alert-info"> 加入標籤及標題 </font>

<font class="alert alert-block alert-info"> Scatter Plot </font>
<font class="alert alert-block alert-info"> 想知道 台北市 及 台中市溫度的關係 </font>
<font class="alert alert-block alert-info"> 標題改為中文 </font>

<font class="alert alert-block alert-warning"> 顯示中文字型設定 </font>

In [ ]:
from matplotlib.font_manager import FontProperties
font = FontProperties(fname=r"",size=12)

<font class="alert alert-block alert-info"> Line Plot </font>
<font class="alert alert-block alert-info"> Sine Function   $f(x)=sin(x)$</font>

<font class="alert alert-block alert-info"> Line Plot </font>
<font class="alert alert-block alert-info"> Sine Function   $f(x)=sin(x)$</font>
<font class="alert alert-block alert-info"> 加入格線 </font>

<div class="alert alert-block alert-danger"> <h3>Q5. 畫線圖  <font class="alert alert-block alert-info"> $f(x) = x^2$ </font> </h3> </div>

<font class="alert alert-block alert-danger"> Answer </font>

<div class="alert alert-block alert-danger"> <h3>Q6. 畫線圖  <font class="alert alert-block alert-info"> $f(x) = cos(x)$ </font> </h3> </div>

<font class="alert alert-block alert-danger"> Answer </font>

<font class="alert alert-block alert-info"> Line Plot </font>
<font class="alert alert-block alert-info"> Sine Function   $f(x)=sin(x)$</font>
<font class="alert alert-block alert-info"> Cosine Function   $f(x)=cos(x)$</font>

<font class="alert alert-block alert-info"> Line Plot </font>
<font class="alert alert-block alert-info"> 改顏色</font>
<font class="alert alert-block alert-info"> Sine Function (黃色)   $f(x)=sin(x)$</font>
<font class="alert alert-block alert-info"> Cosine Function (紅色)   $f(x)=cos(x)$</font>

<font class="alert alert-block alert-info"> Line Plot </font>
<font class="alert alert-block alert-info"> 改顏色</font>
<font class="alert alert-block alert-info"> Sine Function (dash)   $f(x)=sin(x)$</font>
<font class="alert alert-block alert-info"> Cosine Function (dotted)   $f(x)=cos(x)$</font>

<font class="alert alert-block alert-info"> Line Plot </font>
<font class="alert alert-block alert-info"> 加入圖例</font>
<font class="alert alert-block alert-info"> Sine Function (dash)   $f(x)=sin(x)$</font>
<font class="alert alert-block alert-info"> Cosine Function (dotted)   $f(x)=cos(x)$</font>

<font class="alert alert-block alert-info"> Histogram Plot </font>
<font class="alert alert-block alert-info"> Normal distribution </font>

<font class="alert alert-block alert-info"> Histogram Plot </font>
<font class="alert alert-block alert-info"> 左右圖 </font>
<font class="alert alert-block alert-info"> Normal distribution </font>
<font class="alert alert-block alert-info"> Uniform distribution </font>

<div class="alert alert-block alert-danger"> <h3>Q7. 上下排列 台北、台中、高雄溫度的直方圖</h3> </div>

<font class="alert alert-block alert-warning"> 建立 Demo Data (Taipei_Season,Taichung_Season,Kaohsiung_Season)</font>

In [48]:
Taipei_Season = Temperature['Taipei'].groupby(Temperature['Season']).mean()
Taichung_Season = Temperature['Taichung'].groupby(Temperature['Season']).mean()
Kaohsiung_Season = Temperature['Kaohsiung'].groupby(Temperature['Season']).mean()

<font class="alert alert-block alert-info"> Bar Plot </font>
<font class="alert alert-block alert-info"> 台北在不同季節下的溫度變化 </font>

<font class="alert alert-block alert-info"> Bar Plot </font>
<font class="alert alert-block alert-info"> 台北在不同季節下的溫度變化 </font>
<font class="alert alert-block alert-info"> 轉換圖的方向(barth) </font>

<font class="alert alert-block alert-info"> Save Plot </font>
<font class="alert alert-block alert-info"> 台北在不同季節下的溫度變化，存成 Taipei_Season.png </font>